In [1]:
A= [2,4,5,-2,0,7,3]
total = 0
for i in range(len(A)):
    if A[i]>0:
         #total = total+i
   
         print("item no.",i,":",A[i])
         total += A[i]

print("summation:",total)

item no. 0 : 2
item no. 1 : 4
item no. 2 : 5
item no. 5 : 7
item no. 6 : 3
summation: 21

In [2]:
def new_function():
    print("practice")

    
new_function()

practice

In [3]:
variable_name = new_function()

print(variable_name)
print(type(variable_name))

practice
None
<class 'NoneType'>

In [4]:
def new_function(tigerrrr):
    print(tigerrrr)

In [5]:
new_function('tiger')

tiger

In [6]:
def new_function(tigerrrr = "bengal tiger"):
    print(tigerrrr)
new_function()

bengal tiger

In [7]:
import random

In [8]:
def birthday_wish(name, age, hight, weight):
    print(f"happy birthday to you {name}.")
    print("how old are you??")
    print(f"is you {age} years old?")
    print(f"is you {hight} feets?")
    print(f"is you {weight} KG?")


    
    

birthday_wish("jow",40,5.10,77)

#birthday_wish("tina",33)

#birthday_wish("bob",22)

happy birthday to you jow.
how old are you??
is you 40 years old?
is you 5.1 feets?
is you 77 KG?

In [9]:
def payment_invoice(name, amount, due_date, bank_name):
    print(f"hello {name}")
    print(f"your payment is pound:{amount:.2f}")
    print(f"last date is: {due_date}")
    print(f"Into the: {bank_name}")
    
payment_invoice("joly", 200.50, "20/04/2025", "HSBC bank")

hello joly
your payment is pound:200.50
last date is: 20/04/2025
Into the: HSBC bank

In [10]:
def add(x, y):
    result = x + y
    return result
def sub(x, y):
    result = x - y
    return result
def mul(x, y):
    result = x * y
    return result

def div(x, y):
    result = x / y
    return result

print(add(6,7))
print(sub(6,7))
print(mul(6,7))
print(div(30,5))

13
-1
42
6.0

In [11]:
input_list = [ 'taco cat', 'bob', 'davey' ]
for i in input_list:
    print(i)
          
#print(len(cars))

    
#for i in cars:
    #print(i)

taco cat
bob
davey

In [12]:
if len(cars) == len(cars[::-1]):
    print("pelindrom")
else:
    print("not pelindrom")

NameError: name 'cars' is not defined

In [13]:
input_list = [ “taco cat”, “bob”, “davey” ]
def palindromes():
       
       if input_list[i] == input_list[::-1]:
              print("true")
       else:
              print("false")

SyntaxError: invalid character '“' (U+201C) (635188854.py, line 1)

In [20]:
row = 5
for i in range(1, row+1):
    print("*" * i)

*
**
***
****
*****

In [33]:
row = 5
for i in range(1, row+1):
    print(" " * (row-i) + "*" * i)

    *
   **
  ***
 ****
*****

In [30]:
row = 5
for i in range(row, 0, -1):
    print( "#" * i)

#####
####
###
##
#

In [32]:
row = 5
for i in range(1, row+1):
    print(" " * (row - i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********

In [35]:
row = 5
for i in range(1, row+1):
    print(" " * (row - i) + "*" * (2*i-1))

for i in range(row-1,0,-1):
    print(" " * (row - i) + "*" * (2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [6]:
def even(n):
    if n % 2 ==  0:
        print("it is even")
    else:
        print("odd")
    return
even(-22)

it is even

In [3]:
counter = 0 +1
while counter  <=  10:
    print(counter)
    counter = counter + 1

1
2
3
4
5
6
7
8
9
10

In [11]:
sum_numbers = 0
for i in range(5,20,5):
    print(i)
    sum_numbers = sum_numbers+i
    print(sum_numbers)

5
5
10
15
15
30

In [19]:
salary_sum = 0
for n in range(5, 20, 5):
    print("salary number",n)
    salary_sum = salary_sum + n
print("total salary", salary_sum)

salary number 5
salary number 10
salary number 15
total salary 30